h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.navigation {
  margin: 30px 0;
}

body {
  font-family: "Roboto";
  background-color: #fee440 !important;
}

.input-box {
  background-color: #fee440 !important;
  border: 1px solid #000;
  border-radius: 0;
  height: 450px;
}

.input-box:focus {
  border: 1px solid #000;
}

.logo {
  text-decoration: none;
  color: #000;
}

.logo:hover {
  color: #000;
}

.nav-text {
  text-transform: uppercase;
  color: #000;
}

.nav-text:hover {
  color: #000;
  text-decoration: none;
}

.square {
  height: 400px;
}

.controls span {
  cursor: pointer;
}

/* Utils */
.outline {
  outline: 1px solid #f00;
}

a.fa {
  text-decoration: none;
  color: #000;
}

a.fa:hover {
  color: #000;
}
